.content {
    display: grid;
    grid-template-columns: 3fr 1fr;

}

.detail {
    grid-column: 1 / 2;
    width: 100%;
    /* margin: 0 1vw 0 1vw;    */
}

.detail > .video-item {
    width: auto;
    padding: 2vh;
    /* margin: 0 1vw 0 1vw; */
}

.video-list {
    grid-column: 2 / 3;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.video-list > .video-item {
    /* margin:.5vw; */
}