.content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;

}

.detail {
    grid-column: 1 / 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 0 1vw 0 1vw;    */
}

.detail > .video-item {
    display: flex;
    flex-direction: row;
    padding: 2vh;
    border: 1px solid green;
    /* margin: 0 1vw 0 1vw; */
}

.text-data {
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 100%;
}

.video-list {
    grid-column: 2 / 3;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.video-list > .video-item {
    display: flex;
    align-items: center;
    margin: 5px;
    border: 1px solid green;
    border-radius: 5px;
}

.thumbnail {
    padding: 10px;
}

.metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 5px 0px 0px;
}